<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVCModule1:war exploded">
    <output-path>$PROJECT_DIR$/SpringMVCModule1/target/springmvc</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVCModule1" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/SpringMVCModule1/target/springmvc/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="SpringMVCModule1/web/Web" />
    </root>
  </artifact>
</component>