<component name="ArtifactManager">
  <artifact type="war" name="SpringHibernate:war">
    <output-path>$PROJECT_DIR$/SpringHibernate/target</output-path>
    <root id="archive" name="springhibernate.war">
      <element id="artifact" artifact-name="SpringHibernate:war exploded" />
    </root>
  </artifact>
</component>